.Container {
	position: relative;
	align-items: center;
}

.Cover-photo {
	margin-top: -212px;
	width: 100%;
}
.Profile-pic {
	position: absolute;
	border-radius: 80%;
	height: 150px;
	width: 150px;
	left: 100px;
	top: 235px;
	z-index: 1;
}
.Article {
	position: absolute;
	top: 336px;
	background: #e6ecf0;
	width: 100%;
	height: 100%;
}

.MainContent {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	justify-content: center;
	width: 100%;
	background: #fcf8e8;
	background-size: cover;
	margin: 0;
	min-height: 100vh;
}

.Bio {
	width: 20%;
	margin: 20px;
	margin-top: 40px;
}
.Time-line {
	width: 75%;
	background: white;
	margin: 20px;
	padding-bottom: 14px;
}
.Recent-commits {
	width: 25%;
	background: white;
	height: fit-content;
	margin: 20px;
	padding: 30px;
}

@media only screen and (min-width: 600px) and (max-width: 1185px) {
	.Profile-pic {
		left: 34%;
		top: 7%;
	}
	.MainContent {
		flex-direction: column;
		align-items: center;
	}
	.Bio {
		width: 60%;
	}
	.Time-line {
		width: 60%;
	}
	.Recent-commits {
		width: 60%;
	}
}

@media only screen and (max-width: 600px) {
	.Cover-photo {
		display: none;
	}
	.Profile-pic {
		left: 25%;
		top: 50px;
	}
	.MainContent {
		/* padding: 16px; */
		flex-direction: column;
	}

	.Bio {
		width: 100%;
		margin: 0px;
		margin-bottom: 20px;
		margin-top: -90px;
	}
	.Time-line {
		width: 100%;
		margin: 20px 0px 20px 0px;
	}
	.Recent-commits {
		width: 100%;
		margin: 0px;
		padding: 30px 0px 30px 0px;
	}

	.body {
		padding: 0px;
		margin: 10px !important;
	}
}
